<a href="https://colab.research.google.com/github/fezilemahlangu/My-Research-Project-2022/blob/main/AreaUnderCurve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import numpy as np
import pandas as pd 
import csv 
# import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Polygon

import numpy as np
from scipy.integrate import simpson
from numpy import trapz
from sklearn.metrics import auc

https://www.mathsisfun.com/data/correlation-calculator.html

In [ ]:
# The y values.  A numpy array is used here,
# but a python list could also be used.
x = [10, 20, 30, 40, 50, 60, 70, 100]

y = [-2.3, 2.5, 2.7, 1.5, 1.6, 2.1, 2.2, 5.5]

# y = np.array([5, 20, 4, 18, 19, 18, 7, 4])

# Compute the area using the composite trapezoidal rule.
area = trapz(x, y)
print("area trapz =", area)



# Compute the area using the composite Simpson's rule.
area = simpson(x, y)
print("area simpson =", area)

area trapz = 354.0
area simpson = 339.93686868686865

In [ ]:
import numpy as np
from sklearn.metrics import auc

x = [10, 20, 30, 40, 50, 60, 70, 100]

y= [-2.3, 2.5, 2.7, 1.5, 1.6, 2.1, 2.2, 5.5]

print('computed AUC using sklearn.metrics.auc: {}'.format(auc(x,y)))
print('computed AUC using np.trapz: {}'.format(np.trapz(x,y)))

computed AUC using sklearn.metrics.auc: 219.0
computed AUC using np.trapz: 354.0

In [4]:
df_models = pd.read_csv('models_phase2.csv')
display(df_models)

df_rewards = pd.read_csv('results_phase2.csv')
display(df_rewards)

                                              models
0     [[16, 1, 1, 2, 0.05, 32, 0.05, 0.001], [], []]
1    [[16, 8, 1, 2, 0.05, 128, 0.1, 0.0001], [], []]
2    [[16, 3, 1, 2, 0.05, 128, 0.25, 1e-05], [], []]
3  [[32, 3, 1, 2, 0.05, 256, 0.05, 0.0001], [32, ...
4  [[16, 5, 1, 2, 0.05, 128, 0.05, 0.01], [16, 7,...
5  [[16, 7, 1, 2, 0.05, 256, 0.05, 0.003], [32, 3...
6  [[16, 7, 4, 1, 0.05, 256, 0.05, 0.001], [32, 4...
7  [[32, 8, 4, 1, 0.05, 256, 0.05, 0.1], [64, 4, ...

                                             rewards
0  [16.67, 13.68, 14.48, 14.87, 15.92, 13.9, 13.4...
1  [24.44, 25.79, 23.1, 22.05, 24.9, 23.39, 23.62...
2  [25.56, 25.79, 23.1, 20.26, 19.39, 20.0, 19.28...
3  [22.22, 16.32, 14.14, 15.9, 16.73, 16.44, 17.1...
4  [23.33, 26.32, 20.34, 22.05, 21.22, 19.66, 18....
5  [17.78, 20.53, 20.34, 21.79, 19.8, 19.49, 19.4...
6  [24.44, 20.53, 18.62, 16.92, 16.12, 16.1, 16.3...
7  [25.56, 18.95, 21.03, 22.31, 19.59, 20.34, 19....

882

In [26]:
# array = df_rewards.to_records(index=False)
# r = array['rewards']

In [140]:
first = df_rewards['rewards'][6]
first = first[1:]
first = first[:len(first)-1]
first = first.split(",")
first[0]
for i in range(len(first)):
  first[i] = float(first[i])
# first
l = len(first)
# l=800
x = [i for i in range(1,l+1)]
len(x)

y = first[:l]
len(y)
area = trapz(x, y)
print("area trapz =", area)


# Compute the area using the composite Simpson's rule.
area = simpson(x, y)
print("area simpson =", area)


print('computed AUC using sklearn.metrics.auc: {}'.format(auc(x,y)))

area trapz = -1281.3200000000027
area simpson = nan
computed AUC using sklearn.metrics.auc: 12642.98

area trapz = 492.82499999999345
area simpson = nan