# Research Project: Data Cleaning

In [2]:
import numpy as np

In [4]:
import pandas as pd

read_file = pd.read_csv (r"58_RZ_2489381_Aug-11-17-37-10.txt")
read_file.to_csv (r'example.csv', index=True)

# X_train=np.loadtxt("58_RZ_2489381_Aug-11-17-37-10.txt")

In [5]:
df = pd.read_csv('example.csv')
display(df)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 2972,Unnamed: 2973,Unnamed: 2974,frame_id,episode_id,score,duration(ms),unclipped_reward,action,gaze_positions
0,RZ_2489381_1,NaN,NaN,1609.0,0.0,4.0,79.70,107.22,79.66,107.47,...,100.09,187.1,100.03,187.03,99.94,186.95,99.86,186.9,99.94,186.82
1,RZ_2489381_2,NaN,NaN,50.0,0.0,4.0,100.00,186.82,100.04,186.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RZ_2489381_3,NaN,NaN,49.0,0.0,4.0,99.79,187.10,99.76,187.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RZ_2489381_4,NaN,NaN,50.0,0.0,4.0,100.04,188.03,100.11,188.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RZ_2489381_5,NaN,NaN,50.0,0.0,4.0,100.29,189.05,100.30,189.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14853,RZ_2489381_14854,NaN,NaN,50.0,0.0,0.0,106.20,146.10,106.16,146.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14854,RZ_2489381_14855,NaN,NaN,50.0,0.0,0.0,106.71,145.38,106.84,145.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14855,RZ_2489381_14856,NaN,NaN,50.0,0.0,0.0,107.19,145.88,107.21,145.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14856,RZ_2489381_14857,NaN,NaN,50.0,0.0,0.0,108.12,145.05,108.12,145.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14857,RZ_2489381_14858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Meta Data csv file

trial_id used to locate the associated .tar.bz2 file and label file 
total_frame: number of image frame in .bar.b2 repository 

eye tracking related features; *these will be dropped*:

        avg_error: average eyetracking validation error at the end of each trial 
        
        max_error: max eye_tracking validation error 
        
        low_sample_rate: percentage of frames with less than 10 gaze samples. Most common reason is blinking

In [6]:
metaData_df = pd.read_csv('meta_data.csv')
display(metaData_df )

,GameName,trial_id,subject_id,load_trial,highest_score,total_frame,total_game_play_time,total_episode,max_error,avg_error,low_sample_rate,frame_averaging,fps
0,alien,314,R,0,21070,17727,900034,1,1.29,0.58,0.60%,False,20
1,alien,316,R,0,22950,17660,900050,1,0.65,0.19,0.80%,False,20
2,alien,321,R,0,29800,17750,900023,1,0.85,0.33,0.90%,False,20
3,alien,323,R,0,31780,17747,900023,1,0.66,0.33,1.00%,False,20
4,alien,334,R,0,22200,17640,900050,1,0.83,0.35,2.40%,False,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,venture,471,R,0,7300,17203,900037,1,0.88,0.38,1.30%,False,20
467,venture,486,R,0,9100,17297,900016,1,0.67,0.32,1.70%,False,20
468,venture,499,R,0,8500,17300,900016,1,0.67,0.37,1.80%,False,20
469,venture_highscore,599,R,462,22500,14529,900012,1,0.80,0.36,1.90%,False,20
470,venture_highscore,604,R,599,28600,7003,379890,2,0.85,0.47,0.80%,False,20

## [game_name].zip files

        the .tar.bz2 contains the game image frames. file name formatted: [trial_number].tar.bz2 (i think). 
        
        Like Mninh *et al* [2015] we will use the last 2 game frames. 

        Each trial has a .txt file which contains:

        frame_id: corresponds with .tar.bz2 

        episode_id: Episode number for each trial. A trial can contain a single trial or multiple trials

        Score: current game score for that frame 

        duration: time elapsed until human player made a decision 

        unclipped_reward: immediate reward returned by game

        action: see action_enums.txt for integer-action mapping -> consistent with the ALE setup 

        **eye related features:**

        gaze_positions; *this will be dropped*

In [7]:
display(df)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 2972,Unnamed: 2973,Unnamed: 2974,frame_id,episode_id,score,duration(ms),unclipped_reward,action,gaze_positions
0,RZ_2489381_1,NaN,NaN,1609.0,0.0,4.0,79.70,107.22,79.66,107.47,...,100.09,187.1,100.03,187.03,99.94,186.95,99.86,186.9,99.94,186.82
1,RZ_2489381_2,NaN,NaN,50.0,0.0,4.0,100.00,186.82,100.04,186.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RZ_2489381_3,NaN,NaN,49.0,0.0,4.0,99.79,187.10,99.76,187.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RZ_2489381_4,NaN,NaN,50.0,0.0,4.0,100.04,188.03,100.11,188.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RZ_2489381_5,NaN,NaN,50.0,0.0,4.0,100.29,189.05,100.30,189.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14853,RZ_2489381_14854,NaN,NaN,50.0,0.0,0.0,106.20,146.10,106.16,146.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14854,RZ_2489381_14855,NaN,NaN,50.0,0.0,0.0,106.71,145.38,106.84,145.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14855,RZ_2489381_14856,NaN,NaN,50.0,0.0,0.0,107.19,145.88,107.21,145.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14856,RZ_2489381_14857,NaN,NaN,50.0,0.0,0.0,108.12,145.05,108.12,145.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14857,RZ_2489381_14858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*dropping gaze positions*

In [8]:
df.drop(df.iloc[:,6:2982], inplace=True,axis=1)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,RZ_2489381_1,NaN,NaN,1609.0,0.0,4.0
1,RZ_2489381_2,NaN,NaN,50.0,0.0,4.0
2,RZ_2489381_3,NaN,NaN,49.0,0.0,4.0
3,RZ_2489381_4,NaN,NaN,50.0,0.0,4.0
4,RZ_2489381_5,NaN,NaN,50.0,0.0,4.0
...,...,...,...,...,...,...
14853,RZ_2489381_14854,NaN,NaN,50.0,0.0,0.0
14854,RZ_2489381_14855,NaN,NaN,50.0,0.0,0.0
14855,RZ_2489381_14856,NaN,NaN,50.0,0.0,0.0
14856,RZ_2489381_14857,NaN,NaN,50.0,0.0,0.0
14857,RZ_2489381_14858,NaN,NaN,NaN,NaN,NaN

In [9]:
dict={'Unnamed: 0':'frame_id','Unnamed: 1':'episode_id','Unnamed: 2':'score','Unnamed: 3':'duration(ms)','Unnamed: 4':'unclipped_reward','Unnamed: 5':'action'}
df.rename(columns=dict, inplace=True)
df

,frame_id,episode_id,score,duration(ms),unclipped_reward,action
0,RZ_2489381_1,NaN,NaN,1609.0,0.0,4.0
1,RZ_2489381_2,NaN,NaN,50.0,0.0,4.0
2,RZ_2489381_3,NaN,NaN,49.0,0.0,4.0
3,RZ_2489381_4,NaN,NaN,50.0,0.0,4.0
4,RZ_2489381_5,NaN,NaN,50.0,0.0,4.0
...,...,...,...,...,...,...
14853,RZ_2489381_14854,NaN,NaN,50.0,0.0,0.0
14854,RZ_2489381_14855,NaN,NaN,50.0,0.0,0.0
14855,RZ_2489381_14856,NaN,NaN,50.0,0.0,0.0
14856,RZ_2489381_14857,NaN,NaN,50.0,0.0,0.0
14857,RZ_2489381_14858,NaN,NaN,NaN,NaN,NaN

### Null values

Since we need state-action pairs we will drop rows where the action is NaN

In [11]:
print(f"Number of rows where action is Nan: {df.action.isnull().values.sum()}")

Number of rows where action is Nan: 1

In [16]:
df=df.dropna(subset = ['action'])

In [18]:
df
print(f"Number of rows where action is Nan: {df.action.isnull().values.sum()}")

Number of rows where action is Nan: 0